/* part 1: buttons */

.mainNav {
  margin: 0 auto;
  text-align: center;
  width: 95%;
}

.mainNav-div {
  display: inline-block;
  margin: 5px 5px;
  text-align: center;
}

.mainNav-div-txt {
  display: inline-block;
  height: 100px;
  margin: 5px 5px;
  text-align: center;
  width: 200px;
}

.mainNav-div-btn {
  display: inline-block;
  height: 50px;
  margin: 5px 5px;
  text-align: center;
  width: 100px;
}

/* part 2: hover*/

.mainNav-divHover {
  display: inline-block;
  margin: 5px auto;
}

/*part 3: key press*/

.mainNav-h1Key {
  display: inline-block;
  margin: 5px auto;
  text-align: center;
}

/* part 4: login */
